<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web10 login ajax</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
</head>
<body>
    <input type="text" id="username-input-login">
    <button id="username-button-login"
            class="pure-button pure-button-primary">
        登录
    </button>
    <h3 id="message-result">

    </h3>
    <script src="../static/login.js"></script>
</body>
</html>